.hidden-important {
    display: none !important;
}

@media print {
    body>*:not(#bill-modal) {
        display: none !important;
    }

    #bill-modal {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: auto !important;
        display: block !important;
        background: transparent !important;
        padding: 0 !important;
        margin: 0 !important;
        backdrop-filter: none !important;
        overflow: visible !important;
    }

    #bill-modal>div {
        box-shadow: none !important;
        border: none !important;
        border-radius: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        transform: none !important;
        background: rgb(23, 9, 102) !important;
    }

    .print-hide {
        display: none !important;
    }
}